@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  --primary: hsla(224, 58%, 27%, 1);
  --secondary: hsla(288, 47%, 24%, 1);
  --accent: hsla(255, 34%, 35%, 1);
  /*--russian-violet-2: hsla(272, 46%, 23%, 1);*/
  /*--yinmn-blue: hsla(229, 39%, 40%, 1);*/

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
